<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Theatre admin dashboard</title>
</head>
<body>
  <div class="container">
    <h1 class="mb-4">Theatre admin dashboard</h1>
    <a href="/paths/new" class="btn btn-success">Add New movie</a>


    <% movie.forEach(movie => { %>
      <div class="card mt-4">
        <div class="card-body">
          <h4 class="card-title"><%= movie.title %></h4>
          
        </div>
      </div>
    <% }) %>


    <h1> Write movie name to add timings and other details</h1>>
    <form action="/paths/addnew" method="POST">

      <div class="form-group">
          <label for="name">Movie Name</label>
          <textarea name="name" id="name" class="form-control"></textarea>
        </div>

        <div class="form-group">
            <label for="time">Start Time</label>
            <textarea name="time" id="time" class="form-control"></textarea>
          </div>

          <div class="form-group">
              <label for="endtime">End Time</label>
              <textarea name="endtime" id="endtime" class="form-control"></textarea>
            </div>

            
          <div class="form-group">
              <label for="ticketprice">TicketPrice</label>
              <textarea name="ticketprice" id="ticketprice" class="form-control"></textarea>
            </div>

            <div class="form-group">
                <label for="totaltickets">Total Tickets</label>
                <textarea name="totaltickets" id="totaltickets" class="form-control"></textarea>
              </div>
          
          <button type="submit" class="btn btn-primary">Save</button>
    </form>

    <h1>MOVIE PURCHASE</h1>


    <form action="/paths/moviepurchase" method="POST">
      <div class="form-group">
          <label for="name">Movie Name</label>
          <textarea name="name" id="name" class="form-control"></textarea>
        </div>

        <div class="form-group">
            <label for="starttime">Choose Start Time</label>
            <textarea name="starttime" id="starttime" class="form-control"></textarea>
          </div>

          
        <div class="form-group">
            <label for="endtime">End Start Time</label>
            <textarea name="endtime" id="endtime" class="form-control"></textarea>
          </div>

          
          <div class="form-group">
              <label for="ticketnumber">Number of tickets</label>
              <textarea name="ticketnumber" id="ticketnumber" class="form-control"></textarea>
            </div>

    </form>



    </div>
</body>